{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}

    <h1>Mettre un objet en vente</h1>

        {{ form(AjouterProduitForm) }}

    <a class="btn btn-danger" href="{{ path("app_homepage") }}">&lt; Annuler mon annonce</a>
    <a class="btn btn-warning" href="{{ path("app_creation_lot") }}">Ajouter un lot à la liste existante?</a>

{% endblock %}
