{% extends 'base.html.twig' %}

{% block title %}BidCardCOin{% endblock %}

{% block body %}

    <h1>Le site d'enchère informatique géré en symfony</h1>

    <div class="card mb-3">
        <img class="card-img-top" src="https://www.peretranquille.com/resources/banniere-vins.jpg" alt="Card image cap">

    </div>


    <div class="row">
        <div class="col-sm-4">
            <div class="card text-white bg-dark">
                <div class="card-body">
                    <h5 class="card-title">Consulter les enchères existantes</h5>
                    <p class="card-text">Cliquez sur le bouton pour accéder aux enchères existantes!</p>
                    <a href="{{ path('app_enchere') }}" class="btn btn-warning">Accéder aux enchères!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-dark ">
                <div class="card-body">
                    <h5 class="card-title">Vendre mes produits!</h5>
                    <p class="card-text">Cliquez sur le bouton pour vendre vos objets!.</p>
                    <a href="{{ path('app_ajoutproduit') }}" class="btn btn-warning">Vendre ses objets!</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card text-white bg-dark ">
                <div class="card-body">
                    <h5 class="card-title">Chercher un produit!</h5>
                    <p class="card-text">Cliquez sur le bouton pour chercher un produit!.</p>
                    <a href="{{ path('app_recherche_produit') }}" class="btn btn-warning">Chercher un produit!</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
