{% extends 'base.html.twig' %}

{% block title %}Lot Creation{% endblock %}

{% block body %}

    <h1>Creer un lot pour la vente</h1>

    {{ form(LotForm) }}

    <a class="btn btn-danger" href="{{ path("app_homepage") }}">&lt; Annuler la création de lot</a>


{% endblock %}
