{% extends 'base.html.twig' %}

{% block title %}Affichage de Produits par Id{% endblock %}

{% block body %}

    <h1>La liste des produits</h1>
    {{ form(form) }}
    <div class="card-columns">
        {% for prod in produit %}
                <div class="card">
                    <img class="card-img-top" src="{{ asset('uploads/images/'~prod.image) }}" alt="Card image cap" style="width: 18rem; height: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nom de l'objet : {{ prod.nom }}</h5>
                        <p class="card-text">Prix estimé par le vendeur en € : {{ prod.prix }}</p>
                        <p class="card-text">Nom du lot : {{ prod.lot.nom }}</p>
                        <p class="card-text">Categorie : {{ prod.categorie.nom}}</p>

                        {{ include('recherche_produit/_delete_form.html.twig') }}
                    </div>
                </div>
        {% endfor %}
    </div>


{% endblock %}
