{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}

    <h1>Mettre un objet en vente</h1>

    {{ form(ajoutenchereForm) }}

    <a class="btn btn-danger" href="{{ path("app_enchere") }}">&lt; Annuler</a>

{% endblock %}
