{% extends 'base.html.twig' %}

{% block title %}Lieu d'enchere{% endblock %}

{% block body %}

    <a href="{{ path('app_ajout_enchere') }}" class="btn btn-warning">Créer une enchere!</a>
    <h1>Consulter les enchères en ligne :</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Lieu</th>
            <th scope="col">Date</th>
            <th scope="col">Consulter</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td> <button type="button" class="btn btn-primary"><i class="far fa-eye"></i></button></td>
        </tr>
        </tbody>
    </table>


{% endblock %}
