<div class="container-fluid">

    <nav class="navbar navbar-expand-lg navbar-light bg-warning ">

        <a class="navbar-brand" href="{{ path("app_homepage") }}"><i class="fas fa-chess-queen fa-3x"></i></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path("app_recherche_produit") }}">Chercher <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Enchere en Live</a>
                </li>
            </ul>

        </div>



        <div>
            <a href="{{ path('app_login') }}">

                <img src="https://img.icons8.com/dotty/80/000000/login-rounded-right.png"/>

            </a>

        </div>

    </nav>

</div>